html, body, div, span, applet, object, iframe, h1, .header--bottom .header--bottom-h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, .header--bottom, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, .header--bottom .header--bottom-h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

input.error, textarea.error { box-shadow: inset 0 0 10px red !important; }

label.error { display: none !important; }

.icon { display: inline-block; position: relative; }

body { font-size: 16px; line-height: 1.4; background: #fff; color: #1f1f1f; font-family: "open_sanslight"; }

.out { position: relative; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { font-size: 14px; text-transform: none; color: #888; font-family: "open_sanssemibold_italic"; }
input:-moz-placeholder, textarea:-moz-placeholder { font-size: 14px; text-transform: none; color: #888; font-family: "open_sanssemibold_italic"; }
input::-moz-placeholder, textarea::-moz-placeholder { font-size: 14px; text-transform: none; color: #888; font-family: "open_sanssemibold_italic"; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-size: 14px; text-transform: none; color: #888; font-family: "open_sanssemibold_italic"; }
input::placeholder, textarea::placeholder { font-size: 14px; text-transform: none; color: #888; font-family: "open_sanssemibold_italic"; }

.top .top_in, .scrollMenu .top_in, header .header_in, .header--bottom .header_in, .intro .intro_in, .about .about_in, .why .why_in, .about2 .about2_in, .about3 .about3_in, .features .features_in, .instruction .instruction_in, .recommendations .recommendations_in, .specs .specs_in, .work .work_in, .reviews .reviews_in, .also .also_in, footer .footer_in { max-width: 1200px; width: 960px; margin-left: auto; margin-right: auto; }

.fancybox-inner { -moz-box-shadow: 0 38px 40px -40px black; -webkit-box-shadow: 0 38px 40px -40px black; box-shadow: 0 38px 40px -40px black; }

.myFancyClose { position: absolute; top: -8px; right: -9px; background: url('../img/icons-s5a807d55c9.png') 0 -70px no-repeat; width: 20px; height: 20px; }

.btn { display: inline-block; padding: 8px 17px; font-size: 14px; text-decoration: none; text-transform: none; -moz-transition: background, 0.5s; -o-transition: background, 0.5s; -webkit-transition: background, 0.5s; transition: background, 0.5s; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background: #cf3735; color: #e5e5e5; font-family: "open_sanssemibold_italic"; -moz-box-shadow: inset 0 -3px 0 rgba(29, 30, 31, 0.18); -webkit-box-shadow: inset 0 -3px 0 rgba(29, 30, 31, 0.18); box-shadow: inset 0 -3px 0 rgba(29, 30, 31, 0.18); }
.btn:hover { background: #d9605e; -moz-box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; box-shadow: 0 0 0 0; }

.btn--other { padding: 8px 35px; }

.title { font-size: 46px; font-family: "open_sanscondensed_light"; line-height: 1.2em; color: #000; text-transform: none; font-weight: normal; position: relative; text-align: center; }

.counter { display: inline-block; vertical-align: middle; margin-top: 0; }
.counter .bl { float: left; text-align: center; margin: 0 5px; }
.counter .bl:last-of-type { margin-right: 0; }
.counter .bl span { width: 59px; height: 59px; line-height: 57px; display: inline-block; font-size: 30px; color: #626262; padding-top: 0; position: relative; border: 1px solid rgba(29, 30, 31, 0.15); -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; background: #fff; font-family: "open_sanssemibold"; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.counter .bl p { font-family: "open_sansregular"; font-size: 14px; color: #3b3b3b; margin-top: 10px; }

.form { background: url(../img/form_bg.png) no-repeat center; height: 480px; width: 400px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form .caption { box-sizing: border-box; padding-top: 20px; text-align: center; background: none; width: 400px; height: 120px; }
.form .caption h3 { margin-top: 0; margin-bottom: 0; font-size: 36px; font-weight: normal; text-align: center; font-family: "Conv_PFDinTextCondPro-regular"; color: #ffffff; text-transform: uppercase; line-height: 1em; }
.form .caption h4 { margin-top: 5px; margin-bottom: 0; font-size: 36px; text-align: center; font-weight: normal; text-transform: none; font-family: "conv_pfdintextcondpro-light"; color: #ffffff; line-height: 1em; }
.form .caption h4 span { font-family: "conv_pfdintextcondpro-regular"; }

.frm { background: none; position: relative; }

form { margin-top: 0; position: relative; text-align: center; }
form input { padding-left: 20px; width: 250px; height: 40px; display: block; margin: auto auto 13px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background: #efefef; border: 2px solid #e5e5e5; }

.form__bottom { text-align: center; font-family: "conv_pfdintextcondpro-light"; font-size: 16px; color: #3c3c3c; margin-top: 8px; line-height: 1.2em; }
.form__bottom span { font-family: "conv_pfdintextcondpro-regular"; font-size: 24px; }

.button { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: transparent; width: 260px; height: 90px; color: #d2b978; text-shadow: 0px 0px 1px #aaa; display: block; margin: 20px auto auto; font-family: "code_pro_lcregular"; font-size: 24px; text-transform: uppercase; text-decoration: none; letter-spacing: 1px; }
.button:hover { -moz-box-shadow: inset 0 0 5px 2px #d2b978; -webkit-box-shadow: inset 0 0 5px 2px #d2b978; box-shadow: inset 0 0 5px 2px #d2b978; }

.button--red { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; color: #ffffff; font-family: "conv_pfdintextcondpro-light"; font-size: 24px; text-transform: none; font-weight: normal; display: inline-block; margin: 0 auto auto; text-decoration: none; padding: 26px 85px; background: #d70505; -moz-box-shadow: inset 0 -5px 0 #910202; -webkit-box-shadow: inset 0 -5px 0 #910202; box-shadow: inset 0 -5px 0 #910202; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5MDMwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzUzNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #b90301), color-stop(100%, #ff3537)); background-image: -moz-linear-gradient(bottom, #b90301 0%, #ff3537 100%); background-image: -webkit-linear-gradient(bottom, #b90301 0%, #ff3537 100%); background-image: linear-gradient(to top, #b90301 0%, #ff3537 100%); }
.button--red:hover { background: #fa1515; -moz-box-shadow: 0 0 0 0; -webkit-box-shadow: 0 0 0 0; box-shadow: 0 0 0 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.top, .scrollMenu { background: transparent; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 50px; min-width: 960px; }
.top .top_in, .scrollMenu .top_in { *zoom: 1; position: relative; padding-top: 18px; }
.top .top_in:after, .scrollMenu .top_in:after { content: " "; display: table; clear: both; }
.top nav, .scrollMenu nav { float: left; }
.top nav ul, .scrollMenu nav ul { font-size: 13px; padding: 0; }
.top nav ul li, .scrollMenu nav ul li { display: inline-block; float: left; margin-right: 10px; font-family: "open_sansregular"; color: #484848; line-height: 1em; text-transform: uppercase; }
.top nav ul li:last-child, .scrollMenu nav ul li:last-child { border: none; }
.top nav ul li:last-child a, .scrollMenu nav ul li:last-child a { margin-right: 0; }
.top nav ul li:first-child a, .scrollMenu nav ul li:first-child a { margin-left: 0; }
.top nav ul li a, .scrollMenu nav ul li a { text-decoration: none; color: inherit; border-bottom: solid 1px rgba(255, 255, 255, 0); margin: 0 15px; -moz-transition: background, 0.1s; -o-transition: background, 0.1s; -webkit-transition: background, 0.1s; transition: background, 0.1s; }
.top nav ul li a:hover, .scrollMenu nav ul li a:hover, .top nav ul li a.is-active, .scrollMenu nav ul li a.is-active { border-bottom: solid 1px; }
.top__right { float: right; margin-top: -12px; }
.top__after-phone { display: inline-block; vertical-align: middle; margin-left: 30px; }
.top__phone { *zoom: 1; margin-left: 30px; font-family: "open_sanssemibold"; font-size: 15px; color: #484848; display: inline-block; vertical-align: middle; }
.top__phone:after { content: " "; display: table; clear: both; }
.top__phone i { position: relative; display: inline-block; background: url('../img/icons-s5a807d55c9.png') 0 -199px no-repeat; width: 12px; height: 16px; top: -2px; vertical-align: middle; margin-right: 10px; }
.top__nomenclature { display: inline-block; vertical-align: middle; color: #484848; font-size: 13px; font-family: "open_sansitalic"; }

header, .header--bottom { background: url(../img/header_bg.jpg) center center no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 660px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; color: #ffffff; min-width: 960px; }
header .header_in, .header--bottom .header_in { *zoom: 1; position: relative; }
header .header_in:after, .header--bottom .header_in:after { content: " "; display: table; clear: both; }
header .header__main, .header--bottom .header__main { margin-left: 240px; padding-top: 40px; *zoom: 1; position: relative; }
header .header__main:after, .header--bottom .header__main:after { content: " "; display: table; clear: both; }
header .header__top, .header--bottom .header__top { position: relative; float: left; z-index: 1; *zoom: 1; text-align: left; }
header .header__top:after, .header--bottom .header__top:after { content: " "; display: table; clear: both; }
header .header__top h1, .header--bottom .header__top h1, header .header__top .header--bottom .header--bottom-h1, .header--bottom .header__top .header--bottom-h1 { font-size: 46px; font-family: "open_sanscondensed_light"; line-height: 1.2em; font-weight: normal; color: #000000; }
header .header__top h2, .header--bottom .header__top h2 { font-size: 29px; color: #000; font-weight: normal; font-family: "open_sanscondensed_light"; }
header .header__top p, .header--bottom .header__top p { font-family: "robotolight"; font-weight: normal; font-style: normal; font-size: 18px; margin-top: 25px; }
header .header__form, .header--bottom .header__form { clear: both; position: relative; left: 0; width: 700px; padding-top: 30px; }
header .header__form .form__header, .header--bottom .header__form .form__header { position: relative; background: #ffffff; font-family: "open_sansregular"; font-size: 18px; color: #cf3736; text-transform: uppercase; padding: 7px 0; top: 16px; }
header .header__form .form__header .bline, .header--bottom .header__form .form__header .bline, header .header__form .form__header .aline, .header--bottom .header__form .form__header .aline { position: relative; display: inline-block; width: 40px; height: 1px; background: #cf3736; vertical-align: middle; margin-right: 15px; top: -2px; }
header .header__form .form__header .aline, .header--bottom .header__form .form__header .aline { margin-right: 0; margin-left: 15px; }
header .header__form .form__block, .header--bottom .header__form .form__block { *zoom: 1; border: solid 3px #fff; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 30px 30px 15px; }
header .header__form .form__block:after, .header--bottom .header__form .form__block:after { content: " "; display: table; clear: both; }
header .header__form .form__block .block__left, .header--bottom .header__form .form__block .block__left { display: inline-block; vertical-align: middle; text-align: left; width: 47%; }
header .header__form .form__block .block__form, .header--bottom .header__form .form__block .block__form { display: inline-block; width: 52%; vertical-align: middle; *zoom: 1; }
header .header__form .form__block .block__form:after, .header--bottom .header__form .form__block .block__form:after { content: " "; display: table; clear: both; }
header .header__form .form__block .block__form input, .header--bottom .header__form .form__block .block__form input { width: 155px; height: 34px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; display: inline-block; margin-right: 8px; border: 1px solid rgba(29, 30, 31, 0.15); -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; background: #fff; }
header .header__form .form__block .block__form input:last-of-type, .header--bottom .header__form .form__block .block__form input:last-of-type { margin-right: 0; }
header .header__form .form__block .block__form .button--form, .header--bottom .header__form .form__block .block__form .button--form { vertical-align: top; width: 97%; font-family: "open_sanssemibold_italic"; font-size: 14px; }
header .header__bottom, .header--bottom .header__bottom { *zoom: 1; margin-top: 45px; position: relative; text-align: left; }
header .header__bottom:after, .header--bottom .header__bottom:after { content: " "; display: table; clear: both; }
header .header__price, .header--bottom .header__price { background: url(../img/header-price_bg.png) no-repeat; text-align: center; width: 160px; height: 159px; display: inline-block; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 40px; vertical-align: top; margin: 15px 45px 0 30px; }
header .header__price .price--old, .header--bottom .header__price .price--old { display: inline-block; font-size: 18px; color: #f0f1ee; text-shadow: 0 2px 0 rgba(29, 30, 31, 0.15); font-family: "open_sansregular"; }
header .header__price .price--new, .header--bottom .header__price .price--new { font-family: "open_sanssemibold"; display: inline-block; font-size: 30px; color: #f0f1ee; text-shadow: 0 2px 0 rgba(29, 30, 31, 0.15); }
header .header__img, .header--bottom .header__img { position: relative; vertical-align: middle; display: inline-block; }

.scrollMenu { position: fixed; z-index: 999; width: 100%; top: 0; left: 0; bottom: auto; display: none; height: 60px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: rgba(255, 255, 255, 0.8); }
.scrollMenu .top_in { padding-top: 20px; }
.scrollMenu .top, .scrollMenu .scrollMenu { height: 0; }

.intro { padding: 35px 0; *zoom: 1; min-width: 960px; background: url(../img/intro_bg.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 240px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.intro:after { content: " "; display: table; clear: both; }
.intro .intro_in { *zoom: 1; }
.intro .intro_in:after { content: " "; display: table; clear: both; }
.intro-b { clear: both; *zoom: 1; position: relative; }
.intro-b:after { content: " "; display: table; clear: both; }
.intro__text { *zoom: 1; width: 670px; font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 18px; color: #000000; margin-left: 100px; }
.intro__text:after { content: " "; display: table; clear: both; }
.intro__bottom { margin-top: 25px; }
.intro__bottom-text { color: #554029; font-size: 22px; font-family: "open_sanssemibold"; width: 670px; margin-left: 100px; display: inline-block; position: relative; vertical-align: middle; }
.intro__bottom-text:before { position: absolute; content: ""; background: url('../img/icons-s5a807d55c9.png') 0 -100px no-repeat; width: 62px; height: 57px; left: -100px; top: 0; }
.intro .button--info { padding: 8px 35px; vertical-align: middle; margin-left: 40px; }

.about { *zoom: 1; padding: 35px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-width: 960px; }
.about:after { content: " "; display: table; clear: both; }
.about .about_in { position: relative; *zoom: 1; }
.about .about_in:after { content: " "; display: table; clear: both; }
.about .about__img { width: 200px; height: 200px; float: left; margin-right: 45px; margin-left: 100px; }
.about .about__img img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.about .about__text { vertical-align: top; position: relative; overflow: hidden; }
.about .about__text p { font-family: "open_sanslight"; font-weight: normal; font-style: normal; color: #1f1f1f; font-size: 18px; padding-top: 20px; }

.why { *zoom: 1; background: url(../img/why_bg.png) repeat; padding: 35px 0; min-width: 960px; }
.why:after { content: " "; display: table; clear: both; }
.why .why_in { *zoom: 1; }
.why .why_in:after { content: " "; display: table; clear: both; }
.why__item { text-align: center; border: 1px solid rgba(29, 30, 31, 0.1); -moz-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #fff; font-family: "open_sansregular"; font-size: 14px; color: #484848; width: 260px; height: 90px; display: table; margin-top: 45px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 30px; }
.why__item span { display: table-cell; vertical-align: middle; }
.why__item.i1, .why__item.i3, .why__item.i5 { margin-left: 30px; }
.why__items { display: inline-block; width: 290px; vertical-align: top; margin-top: 20px; }
.why__img { display: inline-block; vertical-align: bottom; margin-bottom: 20px; padding: 0 25px; }
.why__img img { width: 320px; height: 320px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.why__button { text-align: center; margin-top: 15px; }

.about2 { *zoom: 1; padding: 45px 0; }
.about2:after { content: " "; display: table; clear: both; }
.about2 .about2_in { *zoom: 1; }
.about2 .about2_in:after { content: " "; display: table; clear: both; }
.about2 h2 { text-align: center; font-size: 30px; font-family: "open_sanscondensed_light"; font-weight: normal; line-height: 1.2em; }
.about2__img { margin: 35px auto; width: 650px; height: 459px; }
.about2__item { padding: 0 80px; margin-top: 30px; }
.about2__item h3 { font-family: "open_sanscondensed_light"; font-size: 36px; color: #000000; font-weight: normal; }
.about2__item p { font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 18px; color: #1f1f1f; margin-top: 10px; }
.about2__button { text-align: center; margin-top: 25px; }

.about3 { background: url(../img/about3_bg.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; padding: 30px 0 60px; min-width: 960px; }
.about3 .about3_in { *zoom: 1; }
.about3 .about3_in:after { content: " "; display: table; clear: both; }
.about3 h2 { margin-bottom: 60px; }
.about3__img { float: left; margin-right: 30px; }
.about3__img img { width: 325px; height: 325px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.about3__text { overflow: hidden; font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 16px; color: #1f1f1f; }
.about3__text p { margin-bottom: 15px; }
.about3__button { text-align: center; margin-top: 45px; }

.list { padding-left: 40px; }
.list li { font-family: "open_sanslight"; font-weight: normal; font-style: normal; position: relative; margin-top: 15px; font-size: 16px; color: #1f1f1f; }
.list li:before { position: absolute; content: ""; background: url('../img/icons-s5a807d55c9.png') 0 -49px no-repeat; width: 16px; height: 11px; top: 6px; left: -40px; }

.features { padding: 50px 0; *zoom: 1; }
.features:after { content: " "; display: table; clear: both; }
.features .features_in { *zoom: 1; }
.features .features_in:after { content: " "; display: table; clear: both; }
.features h2 { padding-bottom: 30px; }
.features p { font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 16px; color: #1f1f1f; margin-bottom: 40px; }
.features .list--features { vertical-align: top; width: 45%; display: inline-block; }
.features__img { display: inline-block; width: 479px; height: 318px; margin-top: -20px; }

.instruction { *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 70px; }
.instruction:after { content: " "; display: table; clear: both; }
.instruction .instruction_in { *zoom: 1; }
.instruction .instruction_in:after { content: " "; display: table; clear: both; }
.instruction h2 { text-align: left; margin-bottom: 50px; }
.instruction__text { width: 45%; display: inline-block; vertical-align: top; }
.instruction__text .list--instruction { counter-reset: myCounter; }
.instruction__text .list--instruction li:before { content: counter(myCounter); counter-increment: myCounter; font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 12px; color: #1f1f1f; background: none; text-align: center; width: 26px; height: 26px; line-height: 26px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: solid 2px #dcdcdc; top: -3px; }
.instruction__button { text-align: center; margin-top: 35px; }
.instruction__img { background: url(../img/instruction-img.jpg) no-repeat; display: inline-block; width: 521px; height: 422px; margin-top: 20px; text-align: center; }
.instruction__video { margin-top: 24px; position: relative; display: inline-block; }

.recommendations { *zoom: 1; padding: 35px 0; background: url(../img/why_bg.png) repeat; min-width: 960px; }
.recommendations:after { content: " "; display: table; clear: both; }
.recommendations .recommendations_in { *zoom: 1; }
.recommendations .recommendations_in:after { content: " "; display: table; clear: both; }
.recommendations__top { margin-top: 35px; }
.recommendations__top .list--recommendations { vertical-align: top; width: 45%; display: inline-block; counter-reset: myCounter; }
.recommendations__top .list--recommendations li:before { content: counter(myCounter); counter-increment: myCounter; font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 12px; color: #1f1f1f; background: none; text-align: center; width: 26px; height: 26px; line-height: 26px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: solid 2px #dcdcdc; top: -3px; }
.recommendations__img { width: 290px; height: 290px; display: inline-block; vertical-align: top; margin-left: 70px; }
.recommendations__img img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.recommendations__contraindications h3 { font-family: "open_sanscondensed_light"; font-size: 46px; color: #cf3736; font-weight: normal; }
.recommendations__contraindications h3 span { display: inline-block; position: relative; margin-right: 30px; background: url('../img/icons-s5a807d55c9.png') 0 0 no-repeat; width: 39px; height: 39px; top: 4px; }
.recommendations__contraindications .list--contraindications li:before { background: url('../img/icons-s5a807d55c9.png') 0 -167px no-repeat; width: 22px; height: 22px; top: 1px; }
.recommendations__button { text-align: center; margin-top: 35px; }

.specs { padding: 30px 0 50px; }
.specs .specs_in { *zoom: 1; }
.specs .specs_in:after { content: " "; display: table; clear: both; }
.specs__text { display: inline-block; vertical-align: top; margin-top: 60px; }
.specs__row { font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 16px; color: #1f1f1f; margin-top: 15px; }
.specs__col1 { margin-right: 25px; margin-left: 50px; position: relative; display: inline-block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.specs__col1.i1 { background: url('../img/icons-s5a807d55c9.png') 0 -252px no-repeat; width: 21px; height: 13px; }
.specs__col1.i2 { background: url('../img/icons-s5a807d55c9.png') 0 -275px no-repeat; width: 21px; height: 21px; top: -7px; }
.specs__col1.i3 { background: url('../img/icons-s5a807d55c9.png') 0 -306px no-repeat; width: 21px; height: 17px; }
.specs__col1.i4 { background: url('../img/icons-s5a807d55c9.png') 0 -333px no-repeat; width: 17px; height: 21px; top: 3px; }
.specs__col1.i5 { background: url('../img/icons-s5a807d55c9.png') 0 -364px no-repeat; width: 21px; height: 21px; top: 3px; }
.specs__col1.i6 { background: url('../img/icons-s5a807d55c9.png') 0 -395px no-repeat; width: 21px; height: 21px; top: 6px; }
.specs__col2 { display: inline-block; width: 230px; }
.specs__col3 { display: inline-block; width: 260px; }
.specs__img { display: inline-block; vertical-align: top; width: 260px; height: 260px; margin-top: 60px; }
.specs__img img { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.work { padding: 40px 0 60px; min-width: 960px; background: url(../img/work_bg.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.work .work_in { position: relative; width: 900px; }
.work__items { *zoom: 1; margin-top: 60px; }
.work__items:after { content: " "; display: table; clear: both; }
.work__item { display: inline-block; vertical-align: top; text-align: center; width: 220px; }
.work__item p { padding: 0 40px; font-family: "open_sanslight"; font-weight: normal; font-style: normal; font-size: 16px; color: #1f1f1f; }
.work__img { display: inline-block; width: 120px; height: 120px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #ffffff; position: relative; margin-bottom: 15px; }
.work__img img { position: relative; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.work__img span { position: absolute; top: 0; left: 0; width: 36px; height: 36px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #cf3736; color: #ffffff; line-height: 36px; text-align: center; font-size: 16px; font-family: "open_sanssemibold"; }

.reviews { *zoom: 1; padding: 50px 0 70px; }
.reviews:after { content: " "; display: table; clear: both; }
.reviews .reviews_in { width: 700px; }
.reviews__items { margin-top: 65px; }
.reviews__items .item { display: inline-block; width: 320px; margin-right: 35px; vertical-align: top; }
.reviews__items .item:last-child { margin-right: 0; }
.reviews__items .item .head { text-align: left; }
.reviews__items .item .head .image { width: 80px; height: 80px; float: left; margin-right: 20px; margin-bottom: 30px; position: relative; }
.reviews__items .item .head .image img { display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; position: relative; z-index: 1; }
.reviews__items .item .head h3 { font-family: "open_sanscondensed_light"; color: #000; font-size: 24px; font-weight: normal; padding-top: 10px; }
.reviews__items .item .head h4 { font-size: 14px; color: #a0a0a0; font-weight: normal; font-family: "open_sansregular"; }
.reviews__items .item .review { position: relative; top: -7px; left: -7px; text-align: left; padding: 25px; min-height: 130px; clear: both; background: #ffffff; -moz-border-radius: 14px; -webkit-border-radius: 14px; border-radius: 14px; width: 100%; font-family: "open_sansregular"; font-size: 14px; color: #7b7b7b; border: solid 1px #dcdcdc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.reviews__items .item .review:before { position: absolute; content: ""; background: url('../img/icons-s5a807d55c9.png') 0 -225px no-repeat; width: 25px; height: 17px; top: -12px; left: 32px; }

.header--bottom { background: url(../img/header--bottom_bg.jpg) center center no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 370px; position: relative; min-width: 960px; }
.header--bottom .header--bottom-h1 { line-height: 1em !important; padding-left: 35px; }
.header--bottom__left { float: left; position: relative; margin-left: -155px; margin-top: 95px; }
.header--bottom__left .header__price--bottom { position: absolute; content: ""; top: -50px; right: 0; z-index: 1; margin: 0; }
.header--bottom__right { float: right; width: 700px; margin-top: 60px; }

.also { *zoom: 1; padding-top: 180px; padding-bottom: 90px; }
.also:after { content: " "; display: table; clear: both; }
.also .also_in { width: 830px; }
.also h2 { line-height: 0.8; color: #3f3f3f; }
.also h2:after { border-bottom: none; }
.also__items { margin-top: 140px; }
.also .item { background: url(../img/form_bg--bottom.png) no-repeat; height: 586px; width: 382px; text-align: center; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 60px; }
.also .item:last-child { margin-right: 0; }
.also .item:last-child .img { margin-top: -56px; }
.also .item h3 { font-size: 30px; font-family: "forumregular"; color: #ffffff; margin: 5px 0 10px; font-weight: normal; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08); }
.also .item .wave { width: 100%; height: 0; border-bottom: solid 1px rgba(255, 255, 255, 0.2); }
.also .item p { font-size: 29px; color: #181818; text-transform: uppercase; }
.also .img { height: 271px; margin-top: -64px; display: inline-block; margin-bottom: 10px; }
.also .img img { display: block; }
.also .price-b { margin: 0 0 20px; padding: 0 30px; }
.also .price-old, .also .price-new { color: #cfe7f7; font-size: 30px; font-family: "forumregular"; padding: 0; background: none; text-align: right; width: 49%; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08); display: inline-block; }
.also .price-old span, .also .price-new span { font-size: 30px; }
.also .price-new { background: none; color: #ffffff; text-align: left; font-family: "forumregular"; font-size: 48px; }
.also .price-new span { font-size: 42px; }
.also input { width: 328px; height: 50px; margin-bottom: 14px; padding-left: 15px; font-size: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #fff; -moz-box-shadow: inset 1px 2px 0 #86bee4; -webkit-box-shadow: inset 1px 2px 0 #86bee4; box-shadow: inset 1px 2px 0 #86bee4; border: none; }
.also input:focus { -moz-box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); -webkit-box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); }
.also .btn--review { font-size: 18px; padding: 13px 85px; margin-top: 11px; }

footer { box-sizing: border-box; background: url(../img/footer_bg.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 118px; padding-top: 40px; font-size: 14px; color: #cdcdd5; min-width: 1000px; }
footer .footer__left { float: left; text-align: left; }
footer .footer__left a { display: block; font-family: "robotolight"; font-weight: normal; font-style: normal; color: #cdcdd5; text-decoration: none; }
footer .footer__left a:hover { text-decoration: underline; }
footer .footer__right { float: right; text-align: right; }

.callback { width: 382px; background: url(../img/popup-order_bg.png) center center no-repeat; height: 335px; padding: 20px 25px 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.callback h2 { font-family: "forumregular"; font-size: 48px; color: #ffffff; font-weight: normal; }
.callback form { margin-top: 25px; }
.callback form input { width: 328px; height: 50px; margin-bottom: 14px; padding-left: 15px; font-size: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #fff; -moz-box-shadow: inset 1px 2px 0 #86bee4; -webkit-box-shadow: inset 1px 2px 0 #86bee4; box-shadow: inset 1px 2px 0 #86bee4; border: none; }
.callback form input:focus { -moz-box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); -webkit-box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); box-shadow: 0 0 9px rgba(204, 62, 82, 0.13); }
.callback form .button--callback { margin-top: 10px; font-size: 18px; padding: 13px 85px; }

.thanks { text-align: center; background: url(../img/popup-thanks_bg.png) center center no-repeat; width: 422px; height: 390px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; font-family: "forumregular"; color: #ffffff; }
.thanks:after { content: " "; display: table; clear: both; }
.thanks__img { margin-top: 30px; margin-bottom: 15px; display: inline-block; position: relative; width: 154px; height: 154px; }
.thanks h2 { font-weight: normal; font-size: 60px; line-height: 1em; }
.thanks h3 { font-weight: normal; font-size: 37px; line-height: 1em; margin-bottom: 8px; }
.thanks h4 { font-weight: normal; font-size: 23px; line-height: 1.2em; padding: 0 40px; }
