// Normally mainpage styles 
//+font('Conv_SegoePrintRegular', 'SegoePrintRegular')

.top
  background: transparent
  +cover
  height: 50px
  min-width: 960px
  .top_in
    @extend %in
    +clr
    position: relative
    padding-top: 18px

  nav
    float: left

    ul
      font-size: 13px
      padding: 0
      li
        display: inline-block
        float: left
        margin-right: 10px
        font-family: 'open_sansregular'
        color: #484848
        line-height: 1em
        text-transform: uppercase
        &:last-child
          border: none
          a
            margin-right: 0
        &:first-child
          a
            margin-left: 0
        a
          text-decoration: none
          color: inherit
          border-bottom: solid 1px rgba(#fff, .0)
          margin: 0 15px
          +transition(background, .1s)

          &:hover, &.is-active
            border-bottom: solid 1px


  &__right
    float: right
    margin-top: -12px
  &__after-phone
    display: inline-block
    vertical-align: middle
    margin-left: 30px
  &__phone
    +clr
    margin-left: 30px
    font-family: 'open_sanssemibold'
    font-size: 15px
    color: #484848
    display: inline-block
    vertical-align: middle
    i
      position: relative
      display: inline-block
      +s(phone-ico)
      top: -2px
      vertical-align: middle
      margin-right: 10px

  &__nomenclature
    display: inline-block
    vertical-align: middle
    color: #484848
    font-size: 13px
    font-family: 'open_sansitalic'
  .callme



header
  background: url(../img/header_bg.jpg) center center no-repeat
  +cover
  height: 660px
  position: relative
  +box
  text-align: center
  color: #ffffff
  min-width: 960px

  .header_in
    @extend %in
    +clr
    position: relative


  .header__main
    margin-left: 240px
    padding-top: 40px
    +clr
    position: relative
  .header__top
    position: relative
    float: left
    z-index: 1
    +clr
    text-align: left

    h1
      font-size: 46px
      font-family: 'open_sanscondensed_light'
      line-height: 1.2em
      font-weight: normal
      color: #000000
    h2
      font-size: 29px
      color: #000
      font-weight: normal
      font-family: 'open_sanscondensed_light'

    p
      +rl
      font-size: 18px
      margin-top: 25px



  .header__form
    clear: both
    position: relative
    left: 0
    width: 700px
    padding-top: 30px
    .form__header
      position: relative
      background: #ffffff
      font-family: 'open_sansregular'
      font-size: 18px
      color: #cf3736
      text-transform: uppercase
      padding: 7px 0
      top: 16px
      .bline
        position: relative
        display: inline-block
        width: 40px
        height: 1px
        background: #cf3736
        vertical-align: middle
        margin-right: 15px
        top: -2px
      .aline
        @extend .bline
        margin-right: 0
        margin-left: 15px
    .form__block
      +clr
      border: solid 3px #fff
      +border-radius(10px)
      +box
      padding: 30px 30px 15px
      .block__left
        display: inline-block
        vertical-align: middle
        text-align: left
        width: 47%
      .block__form
        display: inline-block
        width: 52%
        vertical-align: middle
        +clr
        form
        input
          width: 155px
          height: 34px
          +background-clip(padding-box)
          display: inline-block
          margin-right: 8px
          border: 1px solid rgba(29,30,31,.15)
          +border-radius(7px)
          background: #fff
          &:last-of-type
            margin-right: 0
        .button--form
          vertical-align: top
          width: 97%
          font-family: 'open_sanssemibold_italic'
          font-size: 14px
  .header__bottom
    +clr
    margin-top: 45px
    position: relative
    text-align: left
  .header__price
    background: url(../img/header-price_bg.png) no-repeat
    text-align: center
    width: 160px
    height: 159px
    display: inline-block
    position: relative
    +box
    padding-top: 40px
    vertical-align: top
    margin: 15px 45px 0 30px
    .price--old
      display: inline-block
      font-size: 18px
      color: #f0f1ee
      +text-shadow(0 2px 0 rgba(29,30,31,.15))
      font-family: 'open_sansregular'
    .price--new
      font-family: 'open_sanssemibold'
      display: inline-block 
      font-size: 30px
      color: #f0f1ee
      +text-shadow(0 2px 0 rgba(29,30,31,.15))
  .header__img
    position: relative
    vertical-align: middle
    display: inline-block

.scrollMenu
  //@extend header
  @extend .top
  .top_in
    padding-top: 20px
  position: fixed
  z-index: 999
  width: 100%
  top: 0
  left: 0
  bottom: auto
  display: none
  height: 60px
  +box
  background: rgba(255,255,255, 0.8)
  .top
    height: 0


.intro
  padding: 35px 0
  +clr
  min-width: 960px
  background: url(../img/intro_bg.png)
  +cover
  height: 240px
  +box
  .intro_in
    @extend %in
    +clr


  &-b
    clear: both
    +clr
    position: relative

  &__text
    +clr
    width: 670px
    +osl
    font-size: 18px
    color: #000000
    margin-left: 100px
  &__bottom
    margin-top: 25px
  &__bottom-text
    color: #554029
    font-size: 22px
    font-family: 'open_sanssemibold'
    width: 670px
    margin-left: 100px
    display: inline-block
    position: relative
    vertical-align: middle
    &:before
      position: absolute
      content: ''
      +s(info-ico)
      left: -100px
      top: 0
  .button--info
    padding: 8px 35px
    vertical-align: middle
    margin-left: 40px


.about
  +clr
  padding: 35px 0
  +box
  min-width: 960px

  .about_in
    @extend %in
    position: relative
    +clr

  .about__img
    width: 200px
    height: 200px
    float: left
    margin-right: 45px
    margin-left: 100px
    img
      +border-radius(50%)


  .about__text
    vertical-align: top
    position: relative
    overflow: hidden
    p
      +osl
      color: #1f1f1f
      font-size: 18px
      padding-top: 20px


.why
  +clr
  background: url(../img/why_bg.png) repeat
  padding: 35px 0
  min-width: 960px
  .why_in
    +clr
    @extend %in
  &__block
  &__item
    text-align: center
    border: 1px solid rgba(29,30,31,.1)
    +border-radius(11px)
    +background-clip(padding-box)
    background-color: #fff
    font-family: 'open_sansregular'
    font-size: 14px
    color: #484848
    width: 260px
    height: 90px
    display: table
    margin-top: 45px
    +box
    padding: 0 30px
    span
      display: table-cell
      vertical-align: middle
    &.i1, &.i3, &.i5
      margin-left: 30px
  &__items
    display: inline-block
    width: 290px
    vertical-align: top
    margin-top: 20px
  &__img
    display: inline-block
    vertical-align: bottom
    margin-bottom: 20px
    padding: 0 25px
    img
      width: 320px
      height: 320px
      +border-radius(50%)
  &__button
    text-align: center
    margin-top: 15px


.about2
  +clr
  padding: 45px 0
  .about2_in
    @extend %in
    +clr
  h2
    text-align: center
    font-size: 30px
    font-family: 'open_sanscondensed_light'
    font-weight: normal
    line-height: 1.2em
  &__img
    margin: 35px auto
    width: 650px
    height: 459px
  &__item
    padding: 0 80px
    margin-top: 30px
    h3
      font-family: 'open_sanscondensed_light'
      font-size: 36px
      color: #000000
      font-weight: normal
    p
      +osl
      font-size: 18px
      color: #1f1f1f
      margin-top: 10px
  &__button
    text-align: center
    margin-top: 25px



.about3
  background: url(../img/about3_bg.png)
  +cover
  padding: 30px 0 60px
  min-width: 960px
  .about3_in
    @extend %in
    +clr
  h2
    margin-bottom: 60px
  &__img
    float: left
    margin-right: 30px
    img
      width: 325px
      height: 325px
      +border-radius(50%)

  &__text
    overflow: hidden
    +osl
    font-size: 16px
    color: #1f1f1f
    p
      margin-bottom: 15px

  &__button
    text-align: center
    margin-top: 45px

.list
  padding-left: 40px
  li
    +osl
    position: relative
    margin-top: 15px
    font-size: 16px
    color: #1f1f1f
    span
    &:before
      position: absolute
      content: ""
      +s(check-ico)
      top: 6px
      left: -40px


.features
  padding: 50px 0
  +clr
  .features_in
    @extend %in
    +clr
  h2
    padding-bottom: 30px

  p
    +osl
    font-size: 16px
    color: #1f1f1f
    margin-bottom: 40px
  .list--features
    vertical-align: top
    width: 45%
    display: inline-block
  &__img
    display: inline-block
    width: 479px
    height: 318px
    margin-top: -20px





.instruction
  +clr
  +box
  padding-bottom: 70px
  .instruction_in
    +clr
    @extend %in
  h2
    text-align: left
    margin-bottom: 50px
  &__text
    width: 45%
    display: inline-block
    vertical-align: top
    .list--instruction
      counter-reset: myCounter
      li
        &:before
          content: counter(myCounter)
          counter-increment: myCounter
          +osl
          font-size: 12px
          color: #1f1f1f
          background: none
          text-align: center
          width: 26px
          height: 26px
          line-height: 26px
          +border-radius(50%)
          border: solid 2px #dcdcdc
          top: -3px
  &__button
    text-align: center
    margin-top: 35px
  &__img
    background: url(../img/instruction-img.jpg) no-repeat
    display: inline-block
    width: 521px
    height: 422px
    margin-top: 20px
    text-align: center
  &__video
    margin-top: 24px
    position: relative


.work
  padding-top: 40px
  overflow: hidden
  min-width: 1000px

  .work_in
    @extend %in
    position: relative

  h2
    line-height: .8em
    color: #3f3f3f
    &:after
      border-bottom: none
  .work__circles
    position: absolute
    top: -600px
    left: -75px
    background: url(../img/circles.png) center center no-repeat
    width: 1154px
    height: 1154px
    content: ""
    .item
      position: absolute
      width: 170px
      text-align: right
      +rl
      font-size: 16px
      color: #3f3f3f
      bottom: 0
      left: 30px
      span
        position: absolute
        content: ""
        width: 58px
        height: 58px
        background: #c95faf
        +border-radius(50%)
        right: -78px
        top: -5px
        +box-shadow(rgba(#c95faf,.11) 0 0 0 6px)
        &:before
          position: absolute
          top: 50%
          left: 50%
          content: ""
          +transform(translate(-50%,-50%))

    .item1
      bottom: 440px
      left: 95px
      span
        &:before
          +s(w-img1)

    .item2
      bottom: 297px
      left: 245px
      span
        &:before
          +s(w-img2)
    .item3
      text-align: left
      bottom: 297px
      left: 735px
      span
        left: -78px
        right: auto
        &:before
          +s(w-img3)
    .item4
      text-align: left
      bottom: 440px
      left: 885px
      span
        left: -78px
        right: auto
        &:before
          +s(w-img4)


.reviews
  +clr
  background: url(../img/reviews_bg.png) center center no-repeat
  +cover
  padding-top: 70px
  margin-top: 250px
  height: 514px
  +box
  min-width: 1000px

  .reviews_in
    @extend %in
  h2
    color: white
  &__items
    margin-top: 65px
    .item
      display: inline-block
      width: 307px
      margin-right: 35px
      &:last-child
        margin-right: 0
      .head
        text-align: left
        .image
          width: 60px
          height: 60px
          float: left
          margin-right: 15px
          position: relative

          img
            display: block
            +border-radius(50%)
            position: relative
            z-index: 1
        h3
          font-family: 'calibribold'
          color: #ffffff
          font-size: 22px
          font-weight: normal
          +text-shadow(0 1px 0 rgba(0,0,0,.15))
        h4
          font-size: 13px
          color: #dbd9ef
          font-weight: normal
          font-family: 'conv_calibril'

      .review
        position: relative
        top: -7px
        left: -7px
        text-align: left
        padding: 25px
        margin-top: 43px
        background: #ffffff
        +border-radius(14px)
        width: 100%
        font-family: 'conv_calibril'
        font-size: 14px
        color: #3f3f3f
        +box-shadow(0 1px 3px rgba(0,0,0,.26), inset 0 -1px 0 #fff)
        +box
        &:before
          position: absolute
          content: ""
          +s(review-popup)
          top: -9px
          left: 21px


.header--bottom
  background: url(../img/header--bottom_bg.jpg) center center no-repeat
  +cover
  height: 629px
  position: relative
  min-width: 1000px

  .header--bottom_in
    @extend %in
    position: relative
    height: 100%
  .intro__form--bottom
    position: absolute
    bottom: -135px
    left: 0
.also
  +clr
  padding-top: 180px
  padding-bottom: 90px
  .also_in
    @extend %in
    width: 830px
  h2
    line-height: .8
    color: #3f3f3f
    &:after
      border-bottom: none
  &__items
    margin-top: 140px
  .item
    background: url(../img/form_bg--bottom.png) no-repeat
    height: 586px
    width: 382px
    text-align: center
    display: inline-block
    vertical-align: top
    +box
    margin-right: 60px
    &:last-child
      margin-right: 0
      .img
        margin-top: -56px
    h3
      font-size: 30px
      font-family: 'forumregular'
      color: #ffffff
      margin: 5px 0 10px
      font-weight: normal
      +text-shadow(0 1px 0 rgba(0,0,0,.08))

    .wave
      width: 100%
      height: 0
      border-bottom: solid 1px rgba(#fff, .2)
    p
      font-size: 29px
      color: #181818
      text-transform: uppercase


  .img
    height: 271px
    margin-top: -64px
    display: inline-block
    margin-bottom: 10px
    img
      display: block
  .price-b
    margin: 0 0 20px
    padding: 0 30px
  .price-old
    color: #cfe7f7
    font-size: 30px
    font-family: 'forumregular'
    padding: 0
    background: none
    text-align: right
    width: 49%
    +text-shadow(0 1px 0 rgba(0,0,0,.08))
    display: inline-block
    span
      font-size: 30px
  .price-new
    @extend .price-old
    background: none
    color: #ffffff
    text-align: left
    font-family: 'forumregular'
    font-size: 48px
    span
      font-size: 42px




  input
    width: 328px
    height: 50px
    margin-bottom: 14px
    padding-left: 15px
    font-size: 15px
    +border-radius(3px)
    +background-clip(padding-box)
    background-color: #fff
    @include box-shadow(inset 1px 2px 0 #86bee4)
    border: none

    &:focus
      @include box-shadow(0 0 9px rgba(204,62,82,.13)) // outer glow


  .btn--review
    font-size: 18px
    padding: 13px 85px
    margin-top: 11px










footer
  box-sizing: border-box
  background: url(../img/footer_bg.png)
  +cover
  height: 118px
  padding-top: 40px
  font-size: 14px
  color: #cdcdd5
  min-width: 1000px

  .footer_in
    @extend %in
  .footer__left
    float: left
    text-align: left
    a
      display: block
      +rl
      color: #cdcdd5
      text-decoration: none
      &:hover
        text-decoration: underline
  .footer__right
    float: right
    text-align: right


//=============================================
//popup forms
//=============================================

.callback
  width: 382px
  background: url(../img/popup-order_bg.png) center center no-repeat
  height: 335px
  padding: 20px 25px 35px
  +box
  text-align: center
  h2
    font-family: 'forumregular'
    font-size: 48px
    color: #ffffff
    font-weight: normal
  form
    margin-top: 25px
    input
      width: 328px
      height: 50px
      margin-bottom: 14px
      padding-left: 15px
      font-size: 15px
      +border-radius(3px)
      +background-clip(padding-box)
      background-color: #fff
      @include box-shadow(inset 1px 2px 0 #86bee4)
      border: none

      &:focus
        @include box-shadow(0 0 9px rgba(204,62,82,.13)) // outer glow
    .button--callback
      margin-top: 10px
      font-size: 18px
      padding: 13px 85px


.thanks
  text-align: center
  background: url(../img/popup-thanks_bg.png) center center no-repeat
  width: 422px
  height: 390px
  +box
  +clr
  font-family: 'forumregular'
  color: #ffffff
  &__img
    margin-top: 30px
    margin-bottom: 15px
    display: inline-block
    position: relative
    width: 154px
    height: 154px

  h2
    font-weight: normal
    font-size: 60px
    line-height: 1em
  h3
    font-weight: normal
    font-size: 37px
    line-height: 1em
    margin-bottom: 8px
  h4
    font-weight: normal
    font-size: 23px
    line-height: 1.2em
    padding: 0 40px